
<p>
    <img style="padding-right: 15px;" src="/docs/assets/group_photos/zoom.jpeg" width="600" height="300" alt="zoom photo">
    <br>
    <img style="padding-right: 15px;" src="/docs/assets/group_photos/apples.jpeg" width="600" height="450" alt="apple photo">
    <br>
    <img style="padding-right: 15px;" src="/docs/assets/group_photos/meeting.jpeg" width="600" height="450" alt="meeting photo">
    <br>
    <img style="padding-right: 15px;" src="/docs/assets/group_photos/party.jpeg" width="600" height="450" alt="party photo">
    <br>
    <img style="padding-right: 15px;" src="/docs/assets/group_photos/lunch.jpeg" width="600" height="450" alt="lunch photo">
</p>

