
<!--<img src="/docs/assets/sillhouette.jpeg" width="160" height="160" alt="Person 1 Name"> <p>Person 1, person1@gmail.com, website link<br>Bio goes here.</p>-->

<h3>Principal Investigator</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/dylan.png" width="160" height="160" alt="Dylan Hadfield-Menell">
    <strong>Dylan Hadfield-Menell</strong>, dhm[at]csail[dot]mit[dot]edu, <a href="http://people.csail.mit.edu/dhm/">Website</a>
    <br>
    Dylan is an assistant professor on the faculty of Artificial Intelligence and Decision-Making in the EECS Department and Computer Science and Artificial Intelligence Laboratory (CSAIL) at the Massachusetts Institute of Technology (MIT). His research focuses on the problem of agent alignment: the challenge of identifying behaviors that are consistent with the goals of another actor or group of actors. His work aims to identify algorithmic solutions to alignment problems that arise from groups of AI systems, principal-agent pairs (i.e., human-robot teams), and societal oversight of ML systems.
</p>

<h3>Ph.D Students</h3>


<p>
    <img style="padding-right: 15px;" src="/docs/assets/andreas2.png" width="160" height="160" alt="Andreas Haupt">
    <strong>Andreas Haupt</strong>, haupt[at]csail[dot]mit[dot]edu, <a href="https://indraos.github.io/">Website</a>
    <br>
    Andy is an interdisciplinary Ph.D. Candidate with the Schwarzman College of Computing. He uses tools from Microeconomic Theory to understand multi-agent systems, recommendation engines, and automatic pricing tools in deployment and propose ways to mitigate undesirable consequences of seemingly innocuous algorithmic choices.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/jovana.jpg" width="160" height="160" alt="Jovana Kondic">
    <strong>Jovana Kondic</strong>, jkondic[at]mit[dot]edu, <a href="https://www.linkedin.com/in/jovanakondic/">LinkedIn</a>
    <br>
    Jovana's interests lie broadly at the intersection of probabilistic inference, social cognition, and human-robot interaction. Her research focuses on building interactive AI agents that 1) effectively learn from human input, and 2) understand and act in accordance with human preferences, intentions, and values.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/Mehul.jpeg" width="160" height="160" alt="Mehul Damani">
    <strong>Mehul Damani</strong>, mehul42[at]mit[dot]edu, <a href="https://damanimehul.github.io/">Website</a>
    <br>
    Mehul’s research broadly aims to improve multi-agent reinforcement learning systems using techniques and ideas from model-based RL, intrinsic motivation, curriculum learning, and reward design. Prior to joining MIT, he worked on developing general-purpose curriculum learning methods for reinforcement learning agents and on applying reinforcement learning to domains such as multi-agent pathfinding and multi-agent traffic signal control. His hobbies include reading and playing soccer.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/pjkc.jpg" width="160" height="160" alt="Phillip Christoffersen">
    <strong>Phillip Christoffersen</strong>, philljkc[at]mit[dot]edu, <a href="http://people.csail.mit.edu/philljkc/">Website</a>
    <br>
    Phillip is broadly interested in reinforcement learning topics including AI alignment, neurosymbolic AI, and multi-agent RL. Before the Algorithmic Alignment Group, Phillip was an undergraduate researcher at the University of Toronto, advised by Prof. Sheila McIlraith. His main hobbies include reading, playing piano, and composing music.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/cas.png" width="160" height="160" alt="Stephen Casper">
    <strong>Stephen Casper</strong>, scasper[at]mit[dot]edu, <a href="https://stephencasper.com">Website</a>
    <br>
    Cas works on tools for trustworthy, safe AI. His research emphasizes interpretability, adversaries, and automated diagnostic/debugging tools. Before his Ph.D, he worked with the Harvard Kreiman Lab and the Center for Human-Compatible AI. Hobbies of his include biking, growing plants, and keeping insects.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/stewy_2022.jpeg" width="160" height="160" alt="Stewart Slocum">
    <strong>Stewart Slocum</strong>, sslocum3[at]mit[dot]edu, <a href="https://www.stewyslocum.com/">Website</a>
    <br>
    Stewart’s research interests center on aligning AI systems — such as reinforcement learning systems and large language models — with human goals. He is also interested in the theoretical foundations of alignment and the intersection of machine learning and causality. Outside of work, he enjoys playing piano, backpacking, salsa dancing, and philosophy.
</p>

<h3>Masters Students</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/eunseo.jpeg" width="160" height="160" alt="Dana Choi">
    <strong>Dana Choi</strong>, choie[at]mit[dot]edu
    <br>
    Dana is broadly interested in understanding how the human normative system works and what enables cooperation. Through reverse-engineering the mechanisms of human collective intelligence, she hopes to contribute to efforts in designing and facilitating desirable interactions in our society. She draws insights from economics, anthropology, cognitive science, reinforcement learning, and social computing.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/julian.jpg" width="160" height="160" alt="Julian Manyika">
    <strong>Julian Manyika</strong>, jmanyika[at]mit[dot]edu, <a href="https://www.linkedin.com/in/julianmanyika444/">LinkedIn</a>
    <br>
    Julian is a Masters in Engineering (MEng) student working on alignment for Large Language Models. Julian’s interests include reward-modeling on reasoning, evaluating language model understanding of human conversation and intent, and the possibility for AI research to help inform the way we think about morality.
</p>


<p>
    <img style="padding-right: 15px;" src="/docs/assets/olivia.jpg" width="160" height="160" alt="Olivia Siegel">
    <strong>Olivia Siegel</strong>, osiegel[at]mit[dot]edu, <a href="https://www.linkedin.com/in/olivia-siegel/">LinkedIn</a>
    <br>
    Olivia is a masters student interested in AI and robotics who gets most excited seeing algorithms come to life on physical robots. Prior to joining the Algorithmic Alignment group, she did her undergraduate at MIT in EECS and worked on soft robots in the Distributed Robotics Lab. Like any good New Englander, her hobbies include shellfishing, cycling, and maple syrup making.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/prajna.png" width="160" height="160" alt="Prajna Soni">
    <strong>Prajna Soni</strong>, prajna[at]mit[dot]edu, <a href="https://www.linkedin.com/in/prajnasoni/">LinkedIn</a>
    <br>
    Prajna is an S.M. student in the Technology and Policy Program and EECS. Her research interests are broadly in the evaluation of algorithmic systems, both from a technical and regulatory perspective, algorithmic fairness and tools which facilitate the development of safer and more trustworthy AI. Prior to MIT, Prajna graduated from NYU Abu Dhabi in 2020 and was awarded the Post-graduate Research Fellow at NYU Abu Dhabi where she investigated bias propagation in recommender systems.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/rjy2.jpeg" width="160" height="160" alt="Rui-Jie Yew">
    <strong>Rui-Jie Yew</strong>, rjy[at]mit[dot]edu, <a href="https://r-jy.github.io/">Website</a>
    <br>
    Rui-Jie is an S.M. student in Technology and Policy. Her research interests are in the human-centered and legal aspects of computation, both in the design of regulation for emerging technologies as well as in the operationalization of legal values for technical systems. In 2021, she received a joint B.A. in computer science and mathematics from Scripps College as an off-campus student at Harvey Mudd College.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/taylor.png" width="160" height="160" alt="Taylor Curtis">
    <strong>Taylor Lynn Curtis</strong>, tlcurtis[at]mit[dot]edu, <a href="https://www.linkedin.com/in/taylor-lynn-curtis-650746142/">LinkedIn</a>
    <br>
    Taylor Lynn is an S.M. candidate in technology and policy. Prior to her current degree, she obtained a bachelor of software engineering with a minor in political science from McGill University in Montréal, Canada. Her research interests include the effectiveness of governance surrounding large, generative models, quantifying the societal impact of AI, and more generally the regulatory frameworks that function in the technology space.
</p>

<h3>Former Students</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/lena.png" width="160" height="160" alt="Magdalena Price">
    <strong>Magdalena Price</strong>, maprice[at]mit[dot]edu
    <br>
    Lena is a first-year M-Eng student whose research focuses on human-computer interfaces and machine learning. Her current project is focused on making effective data preparation scalable and inexpensive, in the hopes of mitigating biased model results commonly seen in big data predictions.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/max.png" width="160" height="160" alt="Max Langenkamp">
    <strong>Max Langenkamp</strong>, maxnz[at]mit[dot]]edu
    <br>
    Max is researching AI governance. His current focus is on open source machine learning software and how it shapes AI research. He is especially inspired by the work of economist Elinor Ostrom and draws from fields ranging from the philosophy of science to the economics of innovation. Previously, he has researched computational cognitive science, worked at the White House Office of Science and Technology Policy, and published on AI policy at the Center for Security and Emerging Technology. He has a B.A. from MIT in computer science and loves bossa nova, Tibetan mythology and the history of technology.
</p>


<!--<br>-->
<!--<h4>Undergraduate Students</h4>-->

