
<h3>Principal Investigator</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/dhm.png" width="160" height="160" alt="Dylan Hadfield-Menell">
    <strong>Dylan Hadfield-Menell</strong>, dhm[at]csail[dot]mit[dot]edu, <a href="http://people.csail.mit.edu/dhm/">Website</a>
    <br>
    Dylan is an assistant professor on the faculty of Artificial Intelligence and Decision-Making in the EECS Department and Computer Science and Artificial Intelligence Laboratory (CSAIL) at the Massachusetts Institute of Technology (MIT). His research focuses on the problem of agent alignment: the challenge of identifying behaviors that are consistent with the goals of another actor or group of actors. His work aims to identify algorithmic solutions to alignment problems that arise from groups of AI systems, principal-agent pairs (i.e., human-robot teams), and societal oversight of ML systems.
</p>

<h3>Postdoctoral Researchers</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/jakob.jpg" width="160" height="160" alt="Jakob Stenseke">
    <strong>Jakob Stenseke</strong>, stenseke[at]mit[dot]edu
    <br>
    Dr. Jakob Stenseke is a postdoctoral fellow and a SERC group leader whose research revolves minds, machines, and morality. He earned his PhD in philosophy from Lund University in 2025, where he examined artificial approaches to morality through the lenses of virtue ethics, game theory, and computational complexity. At MIT, Jakob seeks to combine insights from moral philosophy and cognitive science to inform the design and training of AI systems that better capture the richness of human values and the intricacies of human thought.
</p>


<h3>Ph.D Students</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/aruna.png" width="160" height="160" alt="Aruna Sankaranarayanan">
    <strong>Aruna Sankaranarayanan</strong>, arunas[at]mit[dot]edu, <a href="https://www.linkedin.com/in/arunasank/">Linkedin</a>
    <br>
    Aruna is a PhD student interested in using interpretability methods to explain model and human behaviours. Her work utilizes causal interpretability methods to encourage model safety. Her past work has included understanding how humans interface with AI generated content, as well as audits of black box social media algorithms. She loves free and open source software, Tamil Bhakti poetry, and giant trees.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/neil.jpg" width="160" height="160" alt="Neil Kale">
    <strong>Neil Kale</strong>, nkale[at]mit[dot]edu, <a href="https://neilkale.github.io/">Website</a>
    <br>
    Neil is a PhD student interested in post-trainability and algorithms for continual learning: teaching ML models to adapt to distribution shift and learn new skills over time. Before his PhD, he completed his Master&#8217;s degree at Carnegie Mellon University, advised by Prof. Virginia Smith and Prof. Aditi Raghunathan, and spent a year in industry working on continual learning. Prior to that, he studied CS and Mathematics at WPI, supervised by Randy Paffenroth. He enjoys urban sketching, cafe-hopping, and vibe-coding cool math demos.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/pjkc.jpg" width="160" height="160" alt="Phillip Christoffersen">
    <strong>Phillip Christoffersen</strong>, philljkc[at]mit[dot]edu, <a href="http://people.csail.mit.edu/philljkc/">Website</a>
    <br>
    Phillip is broadly interested in reinforcement learning topics including AI alignment, neurosymbolic AI, and multi-agent RL. Before the Algorithmic Alignment Group, Phillip was an undergraduate researcher at the University of Toronto, advised by Prof. Sheila McIlraith. His main hobbies include reading, playing piano, and composing music.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/rachelm8.jpeg" width="160" height="160" alt="Rachel Ma">
    <strong>Rachel Ma</strong>, rachelm8[at]mit[dot]edu, <a href="https://rachelma80000.github.io/index.html">Website</a>
    <br>
     Rachel is interested in AI agent alignment to human preferences in open-ended settings, collaborative teaming and interactions between humans and autonomous agents/systems, and decision making under uncertainty. She works within a mix of NLP, vision, and robotics. Before her PhD, she double majored in Computer Science and Music at Brown University and did robotics+NLP research advised by George Konidaris and Stefanie Tellex. Her hobbies include playing piano, composing, watching movies, and spending time with friends.
</p>
<p>
    <img style="padding-right: 15px;" src="/docs/assets/yanchen.jpg" width="160" height="160" alt="Yanchen Liu">
    <strong>Yanchen Liu</strong>, ychenliu[at]mit[dot]edu, <a href="https://liuyanchen1015.github.io">Website</a>
    <br>
    Yanchen is a PhD student interested in scalable supervision and scalable oversight, i.e., how to train and oversee superhuman-level AI systems. Before his PhD, he obtained his Master&#39;s degree from Harvard University, advised by Prof. Hima Lakkaraju, and his Bachelor&#39;s degree in CS + Computational Linguistics from TUM/LMU, supervised by Prof. Hinrich Sch&uuml;tze. He was also a visiting researcher at the Stanford NLP Group. He loves soccer, music, and traveling.
</p>


<h3>Masters Students</h3>


<p>
    <img style="padding-right: 15px;" src="/docs/assets/emaan.png" width="160" height="160" alt="Emaan Khan">
    <strong>Emaan Khan</strong>, emaan[at]mit[dot]edu, <a href="https://www.linkedin.com/in/emaan-bilal">Linkedin</a>
    <br>
    Emaan is a graduate student in the Technology and Policy program. Her current research involves human-centred evaluations for LLM safety post finetuning. Prior to MIT, Emaan completed her undergraduate degree in Computer Science from LUMS, Pakistan where she researched online safety for vulnerable communities on the internet, like children and the visually impaired.
</p>
<h3>Visiting Researchers</h3>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/aidan.jpg" width="160" height="160" alt="Aidan Kierans">
    <strong>Aidan Kierans</strong>, kierans[at]mit[dot]edu, <a href="https://aidankierans.github.io/">Website</a>
    <br>
    Aidan is a visiting student at MIT and a PhD student at the University of Connecticut. His work focuses on normative competence in AI systems, including the institutions that shape model specifications and methods for evaluating and representing moral reasoning. His past research has studied AI alignment from technical and sociotechnical perspectives, including reasoning norms, multi-agent misalignment, moral evaluation, and AI governance. In his free time, he enjoys hiking, travel, and bass guitar.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/henry.jpg" width="160" height="160" alt="Henry Castillo">
    <strong>Henry Castillo</strong>, henryac[at]mit[dot]edu
    <br>
    Henry is interested in robust and reliable ways to understand and edit models, including pretraining interventions, developmental interpretability, and inherent/purposeful design. He double majored in computer science and mathematics at UT Austin and worked as a software engineer at Stripe before AAG. His interests are the top-k subset of west coast tech employee hobbies (climbing, hiking, backpacking, weightlifting, cooking, etc.)
</p>








<h3>Alumni</h3>


<p>
    <img style="padding-right: 15px;" src="/docs/assets/adriano.png" width="160" height="160" alt="Adriano Hernandez">
    <strong>Adriano Hernandez</strong>, adrianoh[at]mit[dot]edu, <a href="https://www.linkedin.com/in/adriano-hernandez/">LinkedIn</a>
    <br>
    As a large language model :), Adriano is passionate about interpretability and the science of deep learning. His work in the group focused on using insights from activation engineering to improve the robustness of language models such as himself to data poisoning attacks. Before MIT, he was first engineer at Meru, where he built retrieval augmented generation systems for document-based question-answering.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/andreas2.png" width="160" height="160" alt="Andreas Haupt">
    <strong>Andreas Haupt</strong>, haupt[at]csail[dot]mit[dot]edu, <a href="http://www.andyhaupt.com/">Website</a>
    <br>
    Andy completed his Ph.D. in Engineering-Economic Systems in 2024, and was the first Ph.D. student of the Algorithmic Alignment Group.
    <br>
    <em>Now: Human-Centered AI Fellow at Stanford University, and in 2026&ndash;27 an AI Institute Fellow-in-Residence at Schmidt Sciences, Digital Fellow at the Stanford Digital Economy Lab, and Technology and Human Rights Fellow at the Harvard Kennedy School.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/ariba.png" width="160" height="160" alt="Ariba Khan">
    <strong>Ariba Khan</strong>, akhan02[at]mit[dot]edu
    <br>
    Ariba was a Master of Engineering (MEng) student who researched cultural bias and cultural alignment of Large Language Models (LLMs). Her academic interests extend to AI fairness, model debiasing, and interpretability. In her free time, Ariba enjoys listening to music, visiting art museums, and reading historical fiction novels.
    <br>
    <em>Now: a member of technical staff at Crosby.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/deepika.jpeg" width="160" height="160" alt="Deepika Raman">
    <strong>Deepika Raman</strong>, deepikar[at]mit[dot]edu, <a href="https://www.linkedin.com/in/deepikaraman/">LinkedIn</a>
    <br>
    Deepika was a graduate student in MIT’s Technology and Policy Program. Her research interests lie in the responsible and equitable design of emerging technologies and public digital goods. In the group, she worked on participatory approaches to AI across the development lifecycle and challenges with their governance. Before MIT, Deepika worked with the University of Chicago Trust, India - leading teams tackling data governance, digital transformation, and AI policy at the Ministry of Electronics and IT, Government of India.
    <br>
    <em>Now: an AI Standards Development Researcher with the AI Security Initiative, and a Non-Resident Research Fellow at the Center for Long-Term Cybersecurity, UC Berkeley.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/eunseo.jpeg" width="160" height="160" alt="Dana Choi">
    <strong>Dana Choi</strong>, choie[at]mit[dot]edu, <a href="https://eunseochoii.github.io/">Website</a>
    <br>
    Dana is broadly interested in understanding how the human normative system works and what enables cooperation. Through reverse-engineering the mechanisms of human collective intelligence, she hopes to contribute to efforts in designing and facilitating desirable interactions in our society. She draws insights from economics, anthropology, cognitive science, reinforcement learning, and social computing.
    <br>
    <em>Now: an AI policy researcher at the OECD.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/hendrik.png" width="160" height="160" alt="Hendrik Mayer">
    <strong>Hendrik Mayer</strong>, hmayer[at]mit[dot]edu
    <br>
    Hendrik was a Master of Engineering (MEng) student who worked on theoretical alignment problems in reinforcement learning systems. Before joining the Algorithmic Alignment Group, he researched topics in algebraic complexity theory with Prof. Markus Bläser and worked in the Emergent Quantum Matter Group at MIT. His hobbies include playing soccer and hiking.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/jovana.jpg" width="160" height="160" alt="Jovana Kondic">
    <strong>Jovana Kondic</strong>, jkondic[at]mit[dot]edu, <a href="https://jkondic.github.io/">Website</a>, <a href="https://www.linkedin.com/in/jovanakondic/">LinkedIn</a>
    <br>
    Jovana's interests lie broadly at the intersection of probabilistic inference, social cognition, and human-robot interaction. Her research focused on building interactive AI agents that 1) effectively learn from human input, and 2) understand and act in accordance with human preferences, intentions, and values.
    <br>
    <em>Now: a Ph.D. candidate at MIT CSAIL, advised by Aude Oliva.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/julian.jpg" width="160" height="160" alt="Julian Manyika">
    <strong>Julian Manyika</strong>, jmanyika[at]mit[dot]edu, <a href="https://www.linkedin.com/in/julianmanyika444/">LinkedIn</a>
    <br>
    Julian was a Masters in Engineering (MEng) student who worked on alignment for Large Language Models. Julian’s interests include reward-modeling on reasoning, evaluating language model understanding of human conversation and intent, and the possibility for AI research to help inform the way we think about morality.
    <br>
    <em>Now: a DPhil student in computer science at the University of Oxford, supervised by Jiarui Gan.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/lena.png" width="160" height="160" alt="Magdalena Price">
    <strong>Magdalena Price</strong>, maprice[at]mit[dot]edu
    <br>
    Lena was an M.Eng student whose research focused on human-computer interfaces and machine learning. Her project focused on making effective data preparation scalable and inexpensive, in the hopes of mitigating biased model results commonly seen in big data predictions.
    <br>
    <em>Now: a software engineer at Google.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/max.png" width="160" height="160" alt="Max Langenkamp">
    <strong>Max Langenkamp</strong>, maxnz[at]mit[dot]edu, <a href="https://maxlangenkamp.me/">Website</a>
    <br>
    Max researched AI governance. His focus was on open source machine learning software and how it shapes AI research. He is especially inspired by the work of economist Elinor Ostrom and draws from fields ranging from the philosophy of science to the economics of innovation. Before that, he researched computational cognitive science, worked at the White House Office of Science and Technology Policy, and published on AI policy at the Center for Security and Emerging Technology. He has an M.Eng from MIT in electrical engineering and computer science and loves bossa nova, Tibetan mythology and the history of technology.
    <br>
    <em>Now: leading the policy and hardware initiative at SecureDNA, and a research affiliate at MIT.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/Mehul.jpeg" width="160" height="160" alt="Mehul Damani">
    <strong>Mehul Damani</strong>, mehul42[at]mit[dot]edu, <a href="https://damanimehul.github.io/">Website</a>
    <br>
    Mehul’s research aimed to improve multi-agent reinforcement learning systems using techniques and ideas from model-based RL, intrinsic motivation, curriculum learning, and reward design. Prior to joining MIT, he worked on developing general-purpose curriculum learning methods for reinforcement learning agents and on applying reinforcement learning to domains such as multi-agent pathfinding and multi-agent traffic signal control. His hobbies include reading and playing soccer.
    <br>
    <em>Now: a Ph.D. student at MIT, advised by Jacob Andreas.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/olivia.jpg" width="160" height="160" alt="Olivia Siegel">
    <strong>Olivia Siegel</strong>, osiegel[at]mit[dot]edu, <a href="https://www.linkedin.com/in/olivia-siegel/">LinkedIn</a>
    <br>
    Olivia was a masters student interested in AI and robotics who got most excited seeing algorithms come to life on physical robots. Prior to joining the Algorithmic Alignment group, she did her undergraduate at MIT in EECS and worked on soft robots in the Distributed Robotics Lab. Like any good New Englander, her hobbies include shellfishing, cycling, and maple syrup making.
    <br>
    <em>Now: at Keystone AI in San Francisco.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/pinar.png" width="160" height="160" alt="A. Pinar Ozisik">
    <strong>A. Pinar Ozisik</strong>, pinaro[at]mit[dot]edu, <a href="https://pinaro.github.io/">Website</a>
    <br>
    Pinar was a research scientist in the group, broadly interested in ensuring that algorithms and systems behave safely, correctly, and in line with their intended purpose in the real world. Before joining the team, Pinar was a visiting researcher in the MIT Media Lab with the Camera Culture group. She received her Ph.D. from the University of Massachusetts Amherst, where she focused on the analysis and application of concentration inequalities to preserve the desirable properties of systems.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/prajna.png" width="160" height="160" alt="Prajna Soni">
    <strong>Prajna Soni</strong>, prajna[at]mit[dot]edu, <a href="https://prajnasoni.github.io/">Website</a>, <a href="https://www.linkedin.com/in/prajnasoni/">LinkedIn</a>
    <br>
    Prajna was an S.M. student in the Technology and Policy Program and EECS. Her research interests are broadly in the evaluation of algorithmic systems, both from a technical and regulatory perspective, algorithmic fairness and tools which facilitate the development of safer and more trustworthy AI. Prior to MIT, Prajna graduated from NYU Abu Dhabi in 2020 and was awarded the Post-graduate Research Fellow at NYU Abu Dhabi where she investigated bias propagation in recommender systems.
    <br>
    <em>Now: an Applied Research Scientist at Alinia AI.</em>
</p>



<p>
    <img style="padding-right: 15px;" src="/docs/assets/rakshit_image.jpg" width="160" height="160" alt="Rakshit S. Trivedi">
    <strong>Rakshit S. Trivedi</strong>, rstrivedi[at]csail[dot]mit[dot]edu, <a href="https://www.rtrivedi.me/">Website</a>
    <br>
    Rakshit was a Postdoctoral Associate in the Computer Science and Artificial Intelligence Laboratory (CSAIL) at MIT. Prior to that, he was a Postdoctoral Fellow in EconCS at Harvard School of Engineering and Applied Sciences (SEAS) working on multi-agent reinforcement learning and imitation learning for economic design. He obtained his PhD from Georgia Institute of Technology, focusing on machine learning for networked and multi-agent systems. He is broadly interested in the development of AI capable of learning from human experiences, can quickly adapt to evolving human needs, and achieve alignment with human values. Through the lens of multi-agent reinforcement learning, he is interested in studying the effectiveness of such AI in the presence of social, economic and cultural factors.
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/rjy2.jpeg" width="160" height="160" alt="Rui-Jie Yew">
    <strong>Rui-Jie Yew</strong>, rjy[at]mit[dot]edu, <a href="https://cntr.brown.edu/people/rui-jie-yew">Website</a>
    <br>
    Rui-Jie was an S.M. student in Technology and Policy. Her research interests are in the human-centered and legal aspects of computation, both in the design of regulation for emerging technologies as well as in the operationalization of legal values for technical systems. In 2021, she received a joint B.A. in computer science and mathematics from Scripps College as an off-campus student at Harvey Mudd College.
    <br>
    <em>Now: a Ph.D. student in computer science at Brown University, advised by Suresh Venkatasubramanian.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/cas.png" width="160" height="160" alt="Stephen Casper">
    <strong>Stephen Casper</strong>, scasper[at]mit[dot]edu, <a href="https://stephencasper.com">Website</a>
    <br>
    Cas worked on a lot of miscellaneous things, but most of his work focused on red-teaming, robustness, and evaluations/audits. Before his Ph.D, he worked with the Harvard Kreiman Lab and the Center for Human-Compatible AI. Hobbies of his include biking, growing plants, and keeping insects.
    <br>
    <em>Now: Assistant Professor at the Harvard Kennedy School, Faculty Affiliate with Harvard SEAS, and Faculty Associate with the Berkman Klein Center.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/stewy_2022.jpeg" width="160" height="160" alt="Stewart Slocum">
    <strong>Stewart Slocum</strong>, sslocum3[at]mit[dot]edu, <a href="https://www.stewyslocum.com/">Website</a>
    <br>
    Stewart does empirical research aimed towards making future AI systems aligned and controllable. Previously, he has worked on editing model beliefs, character training, and evaluations for capabilities and hazardous knowledge. Outside of work, he enjoys playing piano, walking in nature, salsa dancing, and meditation.
    <br>
    <em>Now: on the safety team at xAI, on leave from a Ph.D. at MIT CSAIL.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/taylor.png" width="160" height="160" alt="Taylor Curtis">
    <strong>Taylor Lynn Curtis</strong>, tlcurtis[at]mit[dot]edu, <a href="https://www.linkedin.com/in/taylor-lynn-curtis-650746142/">LinkedIn</a>
    <br>
    Taylor Lynn was an S.M. candidate in technology and policy. Before that degree, she obtained a bachelor of software engineering with a minor in political science from McGill University in Montréal, Canada. Her research interests include the effectiveness of governance surrounding large, generative models, quantifying the societal impact of AI, and more generally the regulatory frameworks that function in the technology space.
    <br>
    <em>Now: Policy Advisor for AI and Science in the office of Yoshua Bengio at Mila.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/tim.jpeg" width="160" height="160" alt="Timothy Kostolansky">
    <strong>Timothy Kostolansky</strong>, timkosto[at]mit[dot]edu, <a href="https://kostolans.ky/">Website</a>
    <br>
    Tim was a Master of Engineering student interested in improving the safety of AI systems, specifically through the lens of interpretability. Before his MEng, Tim double-majored in computer science and physics at MIT. Outside of work, Tim enjoys playing sports, reading, and meditating.
    <br>
    <em>Now: on the applied research team at Prime Intellect.</em>
</p>

<p>
    <img style="padding-right: 15px;" src="/docs/assets/timmy.jpg" width="160" height="160" alt="Timothy Qian">
    <strong>Timothy Qian</strong>, tcqian[at]mit[dot]edu, <a href="https://12tqian.github.io/">Website</a>, <a href="https://linkedin.com/in/12tqian">LinkedIn</a>
    <br>
    Timothy was a Master of Engineering (MEng) student focused on red-teaming, robustness, and preference learning for language models. Before joining the Algorithmic Alignment Group, he conducted research in quantum information theory and proximal operators.
</p>

